@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap");
* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Sen", sans-serif;
}

p {
    margin: 5px;
}

select {
    font-family: "Sen", sans-serif;
}

.container {
    width: 440px;
    height: 90vh;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

ul {
    width: 100%;
    padding: 0;
    margin: 0;
}

ul.currencyUl {
    overflow: scroll;
}

ul.addCurrencyUl {
    z-index: 1;
}

li.currencyLi {
    width: 100%;
    display: flex;
    border-bottom: 1px solid gray;
    padding: 20px;
    margin: 0;
    list-style-type: none;
}

.currencyLi .input {
    position: relative;
}

.currencyLi .input .currencySymbol {
    font-size: 1.8rem;
    /* border: 1px solid blue; */
    position: absolute;
    bottom: 4px;
}

.currencyLi .currencyName {
    font-weight: 700;
}

.currencyLi .input input {
    font-size: 1.5rem;
    padding: 2px;
    margin-left: 20px;
    margin-bottom: 5px;
    width: 200px;
}

div.flag {
    width: 70px;
    margin-right: 20px;
    margin-top: 5px;
}

div.flag img {
    width: 48px;
}

footer {
    width: 100%;
    position: absolute;
    height: 70px;
    bottom: 0;
    display: flex;
    justify-content: center;
    background-color: white;
}

footer button {
    margin-top: 10px;
    width: 400px;
    height: 50px;
    font-size: 1rem;
}

button {
    padding: 5px 10px;
    font-family: inherit;
    border-radius: 0;
    background-color: #333333;
    border: none;
    color: white;
}

span.currencySymbol {
    margin-right: 5px;
}

div.date {
    width: 100%;
    text-align: right;
    border-bottom: 1px solid gray;
}
